<!DOCTYPE html>
<html lang="es">
  <%-include( '../partials/head') %>
<body>
    <%-include( '../partials/header') %>
  
    <%-include( '../partials/nav') %>
    
    <main  class="container">
        <form action="" method="post">
            <h2  class="text-center">Crear contraseña</h2>
            
            <div class="mb-3">
                <label for="codigo" class="form-label text-primary"><strong>Código de verificación</strong></label>
                <input type="number" class="form-control" id="codigo" placeholder="Código enviado al correo...">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label text-primary"><strong>Contraseña</strong></label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password">
                    <button class="btn btn-outline-dark" type="button"><i class="bi bi-eye"></i></button>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirm" class="form-label text-primary"><strong>Confirmar contraseña</strong></label>
                <div class="input-group">
                    <input type="password" class="form-control" id="confirm">
                    <button class="btn btn-outline-dark" type="button"><i class="bi bi-eye"></i></button>
                </div>
            </div>

            <div class="mb-3 d-flex justify-content-between">
              <a href="./login" class="btn btn-secondary col-4">Volver</a>
              <button type="submit" class="btn btn-secondary col-4">Ingresar</button>
            </div>
        </form>
    </main>

    <%-include( '../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>