<!DOCTYPE html>
<html lang="es">
	<%-include('../partials/head') %>
	<body>
		<%-include('../partials/header') %> <%-include('../partials/nav') %>

		<main class="px-5 pb-4 pt-4" style="background-color: #eee">
			<h2 class="p-3 text-center mx-auto" style="max-width: 65vw">Crear contraseña</h2>

			<form action="" method="post">
				<div class="mb-3 mx-auto" style="max-width: 65vw">
					<label for="codigo" class="form-label text-primary"
						><strong>Código de verificación</strong></label
					>
					<input
						type="number"
						class="form-control"
						id="codigo"
						placeholder="Código enviado al correo..."
					/>
				</div>

				<div class="mb-3 mx-auto" style="max-width: 65vw">
					<label for="password" class="form-label text-primary"
						><strong>Contraseña</strong></label
					>
					<div class="input-group">
						<input type="password" class="form-control" id="password" />
						<button class="btn btn-outline-dark" type="button">
							<i class="bi bi-eye"></i>
						</button>
					</div>
				</div>

				<div class="mb-3 mx-auto" style="max-width: 65vw">
					<label for="confirm" class="form-label text-primary"
						><strong>Confirmar contraseña</strong></label
					>
					<div class="input-group">
						<input type="password" class="form-control" id="confirm" />
						<button class="btn btn-outline-dark" type="button">
							<i class="bi bi-eye"></i>
						</button>
					</div>
				</div>

				<div class="mb-3 d-flex justify-content-between  mx-auto" style="max-width: 65vw">
					<a href="./login" class="btn btn-secondary col-4">Volver</a>
					<button type="submit" class="btn btn-secondary col-4">
						Ingresar
					</button>
				</div>
			</form>
		</main>

		<%-include('../partials/footer') %>
	</body>
</html>
