<!DOCTYPE html>
<html lang="es">
  <%-include( '../partials/head') %>
<body>
  <%-include( '../partials/header') %>

  <%-include( '../partials/nav') %>

  <main class="d-flex justify-content-around mx-auto">


    
    <form class="w-75" action="" method="post">

        <h2 class="p-3 text-center">Editar producto</h2>

        <div class="mb-3">
            <label for="titleArticle" class="form-label text-primary"><strong>Nombre/Referencia del artículo</strong></label>
            <input type="text" class="form-control" id="titleArticle" placeholder="" required>
          </div>

        <div class="mb-3">
          <label for="validationTextarea" class="form-label text-primary"><strong>Descripción</strong></label>
          <textarea class="form-control" id="validationTextarea" placeholder="" required></textarea>
        </div>
      
        <div class="mb-3">
          <label for="" class="form-label text-primary"><strong>Deporte</strong></label>
          <select class="form-select" required aria-label="select example">
            <option value="">Selecciona un deporte</option>
            <option value="1">Futbol</option>
            <option value="2">Basketball</option>
            <option value="3">tenis</option>
            <option value="4">Voleyball</option>
            <option value="5">Natación</option>
            <option value="6">Otros</option>
          </select>
        </div>

        <div class="mb-3">
            <label for="" class="form-label text-primary"><strong>Categoría</strong></label>
            <select class="form-select" required aria-label="select example">
              <option value="">Selecciona una categoría</option>
              <option value="1">Vestuario</option>
              <option value="2">Zapatillas</option>
              <option value="3">Implementos</option>>
            </select>
          </div>
      
        <div class="mb-3">
          <label for="" class="form-label text-primary"><strong>Fotografía</strong></label>
          <input type="file" class="form-control" aria-label="file example" required>
        </div>
      
        <div class="mb-3 d-flex justify-content-between">
          <button class="btn btn-secondary col-3" type="submit">Editar producto</button>
          <button class="btn btn-secondary col-3" type="reset">Cancelar</button>
          <button class="btn btn-danger col-3" type="reset">Eliminar producto</button>
        </div>
      </form>

  </main>

  <%-include( '../partials/footer') %>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>