<!DOCTYPE html>
<html lang="es">
  <%-include( '../partials/head') %>
<body>
  <%-include( '../partials/header') %>

  <%-include( '../partials/nav') %>

  <nav style="--bs-breadcrumb-divider: '>'; background-color: #eee;" aria-label="breadcrumb" class="ps-4 pt-3">
    <ol class="breadcrumb my-0 pb-3">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Futbol</li>
    </ol>
  </nav>
  
  <div class="d-flex d-md-block justify-content-between align-items-center"  style="background-color: #eee;">
    <p class="ps-4 py-3 mb-0 fs-1 fw-bold" style="background-color: #eee;">Artículos de fútbol</p>
    <div class="pe-4">
      <button class="btn btn-outline-dark d-md-none h-75" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-filter"></i></button>
      <div class="offcanvas offcanvas-start d-md-none" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header d-md-none">
          <h5 class="offcanvas-title fw-bold d-md-none" id="offcanvasWithBothOptionsLabel">Filtros</h5>
          <button type="button" class="btn-close d-md-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-none">
          <section class="p-3 w-100 border border-1 rounded mb-3" style="background-color: white;">
            <section class="sticky-top">
                <!-- <p class="mt-1 fs-4 fw-bold">Filtros</p> -->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Tipo de producto
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Sudaderas</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Chaquetas</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Guayos</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Guantes</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Medias</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Balones</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Color
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <div class="text-center mb-4">
                                <ul class="nav justify-content-center align-items-center mx-auto" style="max-width: 300px;">
                                    <li class="nav-item">
                                        <a class="nav-link p-0 my-2 mx-3" href="#">
                                            <button type="button" class="btn btn-light border" style="background-color: black; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0 my-2 mx-3" href="#">
                                            <button type="button" class="btn btn-light border" style="background-color: gray; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0 my-2 mx-3" href="#">
                                            <button type="button" class="btn btn-light border" style="background-color: blue; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0 my-2 mx-3" href="#">
                                            <button type="button" class="btn btn-light border" style="background-color: red; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0 my-2 mx-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <button type="button" class="btn btn-light border" style="background-color: yellow; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0 my-2 mx-3" href="#">
                                            <button type="button" class="btn btn-light border" style="background-color: orange; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                        </a>
                                    </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                              Precio
                          </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
    
                          </div>
                      </div>
                  </div>
                </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>

  <main class="d-flex justify-content-center mx-auto p-3 ps-4 text-center" style="background-color: #eee;">

    <section class="d-none d-md-block p-3 w-25 border border-1 rounded mb-3" style="background-color: white;">
        <section class="sticky-top">
            <p class="mt-1 fs-4 fw-bold">Filtros</p>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tipo de producto
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Sudaderas</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Chaquetas</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Guayos</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Guantes</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Medias</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Balones</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Color
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="text-center mb-4">
                            <ul class="nav justify-content-center align-items-center mx-auto" style="max-width: 300px;">
                                <li class="nav-item">
                                    <a class="nav-link p-0 my-2 mx-3" href="#">
                                        <button type="button" class="btn btn-light border" style="background-color: black; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 my-2 mx-3" href="#">
                                        <button type="button" class="btn btn-light border" style="background-color: gray; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 my-2 mx-3" href="#">
                                        <button type="button" class="btn btn-light border" style="background-color: blue; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 my-2 mx-3" href="#">
                                        <button type="button" class="btn btn-light border" style="background-color: red; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 my-2 mx-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <button type="button" class="btn btn-light border" style="background-color: yellow; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0 my-2 mx-3" href="#">
                                        <button type="button" class="btn btn-light border" style="background-color: orange; width: 30px; height: 30px; padding: 6px 0px; border-radius: 15px;"></button>
                                    </a>
                                </li>
                            </ul>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                          Precio
                      </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                      </div>
                  </div>
              </div>
            </div>
        </section>
    </section>


.   <section class="mx-3 w-75 d-md-block">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 m-auto">
        <div class="col mb-3">
          <div class="card h-100 shadow m-1 p-0">
            <a href="./products/detalle"><img src="/imagenes/guayos1.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Guayos Acme</h5>
              <p class="card-text">$12</p>
              <p class="card-text text-success d-flex justify-content-evenly">5% OFF <button type="button" class="btn btn-outline-success">Comprar</button></p>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100 shadow m-1 p-0">
            <img src="/imagenes/guantes1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Guantes Kipsta</h5>
              <p class="card-text">$20</p>
              <p class="card-text text-success d-flex justify-content-evenly">15% OFF <button type="button" class="btn btn-outline-success">Comprar</button></p>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100 shadow m-1 p-0">
            <img src="/imagenes/balon1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Balón Kipsta</h5>
              <p class="card-text">$60</p>
              <p class="card-text text-success d-flex justify-content-evenly">20% OFF <button type="button" class="btn btn-outline-success">Comprar</button></p>
            </div>
          </div>
        </div>

        <div class="col mb-3">
          <div class="card h-100 shadow m-1 p-0">
            <img src="/imagenes/canilleras1.png" class="card-img-top " alt="...">
            <div class="card-body">
              <h5 class="card-title">Canilleras Adidas</h5>
              <p class="card-text">$15</p>
              <p class="card-text text-success d-flex justify-content-evenly">10% OFF <button type="button" class="btn btn-outline-success">Comprar</button></p>
            </div>
          </div>
        </div>

        <div class="col mb-3">
            <div class="card h-100 shadow m-1 p-0">
              <img src="/imagenes/guantes2.jpg" class="card-img-top " alt="...">
              <div class="card-body">
                <h5 class="card-title">Guantes Best 90</h5>
                <p class="card-text">$15</p>
                <p class="card-text text-success d-flex justify-content-evenly">10% OFF <button type="button" class="btn btn-outline-success">Comprar</button></p>
              </div>
            </div>
        </div>

        <div class="col mb-3">
            <div class="card h-100 shadow m-1 p-0">
              <img src="/imagenes/guayos2.jpg" class="card-img-top " alt="...">
              <div class="card-body">
                <h5 class="card-title">Guayos Mercurial</h5>
                <p class="card-text">$15</p>
                <p class="card-text text-success d-flex justify-content-evenly">10% OFF <button type="button" class="btn btn-outline-success">Comprar</button></p>
              </div>
            </div>
        </div>
      </div>
    </section>

  </main>

  <%-include( '../partials/footer') %>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/70f7d39aeb.js" crossorigin="anonymous"></script>
</body>
</html>